# Dependencies 
node_modules
npm-debug.log
yarn-error.log

# Docker files themselves 
Dockerfile
.dockerignore

# Build artifacts
dist
coverage

# Environment & secrets
.env
.env.*    # if you use multiple env files

# OS-specific junk
.DS_Store
Thumbs.db

# Git
.git
.gitignore

*.md
